@{
    ViewBag.Title = "Home Page";
}

<h2>Pool Tournament Results</h2>
<p>
    <table>
    <th>Player ID</th>
    <th>Player Name</th>
    <th>Player SurName</th>
    <tr>
        <td>
          0708
              </td>
           <td>
         siya
    </td>
    <td>
         test
    </td>
    </tr>
    </table>
</p>
